FontPatcher
fonts
release
source/cn/**/*.ttf
source/cn/**/*.vfc
source/cn/temp/
source/jp/**/*.ttf
source/jp/**/*.otf
source/jp/**/*.vfc
source/jp/temp/
cdn

__pycache__
.DS_store
*.zip
.venv
.vscode
uv.lock
*.backup
